.heading {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.heading > h1 {
    color: brown;
}


.project_list {
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
}
