html {
    background-color: rgb(229, 238, 238);
    font-family: Helvetica, Arial, sans-serif;
}

body {
    min-height: 100%;
}

body p {
    align-content: center;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
nav.menu li {
    display: block;
    float: left;
}
nav.menu li a {
    text-decoration: none;
    color: black;
}
nav.menu li a:hover {
    color: grey;
}

.heading {
    text-align: center;
}
.heading h1 {
    color: black;
}
.heading img {
    filter: blur(2px) saturate(80%) contrast(80%);
    -webkit-filter: blur(2px) saturate(80%) contrast(80%);
    max-width: 100%;
}
.heading img:hover {
    filter: none;
}

.projects {
    font-weight: bold;
    display: table;
    margin: 2em auto;
}
.projects ul {
    padding: none;

}
.projects ul li {
    margin: 1em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 1em;
    width: 100%;
    text-align: center;
    font-style: italic;
}
.footer_img {
    max-height: 2em;
    margin-top: 10px;
}