html {
    background-color: rgb(229, 238, 238);
    font-family: Helvetica, Arial, sans-serif;
}

body {
    min-height: 100%;
}

.menu {
    list-style-type: none;
    padding-left: 0;
    border-bottom: 1px dashed black;
}
.menu ul {
    display: inline-block;
}
.menu ul a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}


.heading {
    text-align: center;
}
.heading h1 {
    color: black;
}
.heading img {
    filter: blur(2px) saturate(80%) contrast(80%);
    -webkit-filter: blur(2px) saturate(80%) contrast(80%);
}
.heading img:hover {
    filter: none;
}

.projects {
	font-weight: bold;
    display: table;
    margin: 2em auto;
}
.projects ul {
    list-style-type: none;
    padding: none;
    margin: none;
}
.projects ul li {
    margin: 1em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 2em;
    width: 100%;
    text-align: center;
    font-style: italic;
}
.footer_img {
    max-height: 2em;
    margin-top: 10px;
}