html {
    background-color: rgb(169, 169, 169);
    font-family: Helvetica, Arial, sans-serif;
}

body {
    min-height: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 2em;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.footer_img {
    max-height: 2em;
    margin-top: 10px;
}

.heading {
    text-align: center;
}

.heading > h1 {
    color: black;
}

.projects {
	font-family: Helvetica;
	font-weight: bold;
    display: table;
    margin: 2em auto;
}

.projects > ul > li {
    margin: 1em;
}
